@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodygeneral, .fondo-diet, .fondo-cero, .fondo-clasica {
  background: linear-gradient(to left, #0066b2, #004f91, #003b73, #002a4d);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Inter", serif;
  margin: 0;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
.bodygeneral main #seccion1, .fondo-diet main #seccion1, .fondo-cero main #seccion1, .fondo-clasica main #seccion1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  color: white;
  text-align: center;
}
.bodygeneral main #seccion1 #textoseccion1, .fondo-diet main #seccion1 #textoseccion1, .fondo-cero main #seccion1 #textoseccion1, .fondo-clasica main #seccion1 #textoseccion1 {
  width: 35.375rem;
  height: 25.8125rem;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 20%;
}
.bodygeneral main #seccion1 #textoseccion1 h1, .fondo-diet main #seccion1 #textoseccion1 h1, .fondo-cero main #seccion1 #textoseccion1 h1, .fondo-clasica main #seccion1 #textoseccion1 h1 {
  font-size: 6rem;
  font-weight: bold;
  font-style: italic;
}
.bodygeneral main #seccion1 #textoseccion1 p, .fondo-diet main #seccion1 #textoseccion1 p, .fondo-cero main #seccion1 #textoseccion1 p, .fondo-clasica main #seccion1 #textoseccion1 p {
  font-size: 1.5rem;
  font-weight: bold;
  width: 24.25rem;
}
.bodygeneral main #seccion1 img, .fondo-diet main #seccion1 img, .fondo-cero main #seccion1 img, .fondo-clasica main #seccion1 img {
  width: 35.625rem;
  height: 60.0625rem;
  object-fit: contain;
  position: absolute;
  top: 8.075rem;
  left: 67.75rem;
  z-index: -1;
}
.bodygeneral main #seccion2, .fondo-diet main #seccion2, .fondo-cero main #seccion2, .fondo-clasica main #seccion2 {
  margin-top: 42.5625rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}
.bodygeneral main #seccion2 .box, .fondo-diet main #seccion2 .box, .fondo-cero main #seccion2 .box, .fondo-clasica main #seccion2 .box {
  height: 12.5rem;
  flex: 1;
  padding: 1.25rem;
  color: black;
  border-radius: 1.625rem 1.625rem 0 0;
  text-align: left;
}
.bodygeneral main #seccion2 .box h3, .fondo-diet main #seccion2 .box h3, .fondo-cero main #seccion2 .box h3, .fondo-clasica main #seccion2 .box h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.625rem;
}
.bodygeneral main #seccion2 .box p, .fondo-diet main #seccion2 .box p, .fondo-cero main #seccion2 .box p, .fondo-clasica main #seccion2 .box p {
  font-size: 1rem;
  line-height: 1.5;
}
.bodygeneral main #seccion2 #negro, .fondo-diet main #seccion2 #negro, .fondo-cero main #seccion2 #negro, .fondo-clasica main #seccion2 #negro {
  height: 18.75rem;
  background-color: black;
  color: white;
  position: relative;
  align-self: flex-end;
}
.bodygeneral main #seccion2 #celeste, .fondo-diet main #seccion2 #celeste, .fondo-cero main #seccion2 #celeste, .fondo-clasica main #seccion2 #celeste {
  height: 18.75rem;
  background-color: #00aaff;
  color: white;
  position: relative;
  align-self: flex-end;
}
.bodygeneral main #seccion2 #blanco, .fondo-diet main #seccion2 #blanco, .fondo-cero main #seccion2 #blanco, .fondo-clasica main #seccion2 #blanco {
  height: 14.75rem;
  background-color: white;
  color: black;
  position: relative;
  align-self: flex-end;
}
.bodygeneral main .boton-productos-resposive, .fondo-diet main .boton-productos-resposive, .fondo-cero main .boton-productos-resposive, .fondo-clasica main .boton-productos-resposive {
  display: none;
}
.bodygeneral main #productos-pepsi, .fondo-diet main #productos-pepsi, .fondo-cero main #productos-pepsi, .fondo-clasica main #productos-pepsi {
  padding: 2.5rem 1rem;
  border-radius: 0.9375rem;
  margin: 1.25rem auto;
  margin-top: -4.375rem;
  max-width: 81.25rem;
}
.bodygeneral main #productos-pepsi .grilla, .fondo-diet main #productos-pepsi .grilla, .fondo-cero main #productos-pepsi .grilla, .fondo-clasica main #productos-pepsi .grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  max-width: 75rem;
}
.bodygeneral main #productos-pepsi .grilla .producto, .fondo-diet main #productos-pepsi .grilla .producto, .fondo-cero main #productos-pepsi .grilla .producto, .fondo-clasica main #productos-pepsi .grilla .producto {
  text-align: center;
  color: rgb(255, 255, 255);
}
.bodygeneral main #productos-pepsi .grilla .producto img, .fondo-diet main #productos-pepsi .grilla .producto img, .fondo-cero main #productos-pepsi .grilla .producto img, .fondo-clasica main #productos-pepsi .grilla .producto img {
  width: 15.875rem;
  height: 20rem;
  object-fit: contain;
  border-radius: 0.625rem;
  display: block;
  margin: 0 auto;
}
.bodygeneral main #productos-pepsi .grilla .producto img:hover, .fondo-diet main #productos-pepsi .grilla .producto img:hover, .fondo-cero main #productos-pepsi .grilla .producto img:hover, .fondo-clasica main #productos-pepsi .grilla .producto img:hover {
  transform: scale(1.05);
}
.bodygeneral main #productos-pepsi .grilla .producto p, .fondo-diet main #productos-pepsi .grilla .producto p, .fondo-cero main #productos-pepsi .grilla .producto p, .fondo-clasica main #productos-pepsi .grilla .producto p {
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
  font-size: 1.225rem;
  font-style: italic;
  font-weight: bold;
}
.bodygeneral main #historia, .fondo-diet main #historia, .fondo-cero main #historia, .fondo-clasica main #historia {
  display: flex;
  margin: 40px auto;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  gap: 200px;
}
.bodygeneral main #historia #primer-texto, .fondo-diet main #historia #primer-texto, .fondo-cero main #historia #primer-texto, .fondo-clasica main #historia #primer-texto, .bodygeneral main #historia #segundo-texto, .fondo-diet main #historia #segundo-texto, .fondo-cero main #historia #segundo-texto, .fondo-clasica main #historia #segundo-texto {
  font-size: 1.25rem;
  width: 40.3125rem;
  height: 11.4375rem;
}
.bodygeneral main #logos-pepsi, .fondo-diet main #logos-pepsi, .fondo-cero main #logos-pepsi, .fondo-clasica main #logos-pepsi {
  background-color: white;
  padding: 2.5rem 1rem;
  border-radius: 0.9375rem;
  margin: 1.25rem auto;
  margin-top: 12rem;
  max-width: 100.5rem;
}
.bodygeneral main #logos-pepsi .grilla-logos, .fondo-diet main #logos-pepsi .grilla-logos, .fondo-cero main #logos-pepsi .grilla-logos, .fondo-clasica main #logos-pepsi .grilla-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto;
  max-width: 70rem;
}
.bodygeneral main #logos-pepsi .grilla-logos .logos, .fondo-diet main #logos-pepsi .grilla-logos .logos, .fondo-cero main #logos-pepsi .grilla-logos .logos, .fondo-clasica main #logos-pepsi .grilla-logos .logos {
  text-align: center;
  color: rgb(0, 0, 0);
}
.bodygeneral main #logos-pepsi .grilla-logos .logos img, .fondo-diet main #logos-pepsi .grilla-logos .logos img, .fondo-cero main #logos-pepsi .grilla-logos .logos img, .fondo-clasica main #logos-pepsi .grilla-logos .logos img {
  width: 13.875rem;
  height: 20rem;
  object-fit: contain;
  border-radius: 0.625rem;
  display: block;
  margin: 0 auto;
}
.bodygeneral main #logos-pepsi .grilla-logos .logos p, .fondo-diet main #logos-pepsi .grilla-logos .logos p, .fondo-cero main #logos-pepsi .grilla-logos .logos p, .fondo-clasica main #logos-pepsi .grilla-logos .logos p {
  margin-top: 0.625rem;
  font-size: 1.225rem;
  font-style: italic;
  font-weight: bold;
}
.bodygeneral main #logos-pepsi .grilla-logos .logos #resaltador, .fondo-diet main #logos-pepsi .grilla-logos .logos #resaltador, .fondo-cero main #logos-pepsi .grilla-logos .logos #resaltador, .fondo-clasica main #logos-pepsi .grilla-logos .logos #resaltador {
  color: rgb(255, 0, 0);
  width: 18.875rem;
  height: 22rem;
}
.bodygeneral main .contacto, .fondo-diet main .contacto, .fondo-cero main .contacto, .fondo-clasica main .contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.bodygeneral main .contacto-info, .fondo-diet main .contacto-info, .fondo-cero main .contacto-info, .fondo-clasica main .contacto-info {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.bodygeneral main .contacto-info .iconos, .fondo-diet main .contacto-info .iconos, .fondo-cero main .contacto-info .iconos, .fondo-clasica main .contacto-info .iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.bodygeneral main .contacto-info .iconos img, .fondo-diet main .contacto-info .iconos img, .fondo-cero main .contacto-info .iconos img, .fondo-clasica main .contacto-info .iconos img {
  width: 2.5rem;
  height: 2.5rem;
}

.fondo-clasica #principal-clasica {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.fondo-clasica #principal-clasica #textoprincipal-clasica {
  width: 52.375rem;
  height: 28.8125rem;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 10%;
}
.fondo-clasica #principal-clasica #textoprincipal-clasica h1 {
  font-size: 6rem;
  font-weight: bold;
  font-style: normal;
}
.fondo-clasica #principal-clasica #textoprincipal-clasica p {
  margin-top: 3.25rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 60.25rem;
}
.fondo-clasica #principal-clasica img {
  width: 28.625rem;
  height: 47.8125rem;
  object-fit: contain;
  position: absolute;
  top: 10rem;
  left: 78.8125rem;
  z-index: 1;
  overflow: hidden;
}
.fondo-clasica #nutricion-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 6.25rem);
  justify-content: center;
  align-items: center;
  margin: 22.5rem 17.5875rem;
  max-width: 40rem;
  column-gap: 1.25rem;
}
.fondo-clasica #nutricion-info .nutri {
  grid-column: 1/6;
  grid-row: 1/2;
  height: 3.125rem;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fondo-clasica #nutricion-info .box-nutri {
  background-color: #0058a2;
  flex: 1;
  color: white;
  text-align: center;
  width: 9.375rem;
  height: 10.5rem;
  transition: transform 0.2s;
}
.fondo-clasica #nutricion-info .box-nutri:hover {
  transform: scale(1.1);
  background-color: #5bb4ff;
}
.fondo-clasica #nutricion-info .box-nutri h2 {
  font-size: 1.525rem;
  font-weight: bold;
  height: 8.375rem;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo-clasica #nutricion-info .box-nutri h2:hover {
  background-color: #5bb4ff;
}
.fondo-clasica #nutricion-info .box-nutri p {
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  display: flex;
  background-color: #003D6B;
  font-size: 1rem;
  line-height: 1.5;
  height: 3.125rem;
  align-items: center;
  justify-content: center;
}
.fondo-clasica #nutricion-info .box-nutri p:hover {
  background-color: #006cbc;
}
.fondo-clasica #nutricion-info .descripcion-nutri {
  height: 0.125rem;
  align-self: end;
  justify-self: start;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: white;
  grid-column-start: 1;
  grid-column-end: 6;
}
.fondo-clasica #nutricion-info .descripcion-nutri p {
  font-size: 0.825rem;
  font-weight: 200;
}
.fondo-clasica .ml {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: #45b0ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  height: 150px;
}
.fondo-clasica .ml h2 {
  margin: 20px;
  font-size: 34px;
  color: #ffffff;
}
.fondo-clasica .ml p {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.fondo-clasica .productos-container-clasica {
  display: none;
}
.fondo-clasica .datos-clasica {
  display: none;
}

.fondo-cero {
  background: #000000;
}
.fondo-cero #principal-cero {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  color: white;
}
.fondo-cero #principal-cero #textoprincipal-cero {
  width: 52.375rem;
  height: 28.8125rem;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 10%;
}
.fondo-cero #principal-cero #textoprincipal-cero h1 {
  font-size: 6rem;
  font-weight: bold;
  font-style: normal;
}
.fondo-cero #principal-cero #textoprincipal-cero p {
  margin-top: 3.25rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 60.25rem;
}
.fondo-cero #principal-cero img {
  width: 28.625rem;
  height: 47.8125rem;
  object-fit: contain;
  position: absolute;
  top: 10rem;
  left: 78.8125rem;
  z-index: 1;
  overflow: hidden;
}
.fondo-cero #nutricion-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 6.25rem);
  justify-content: center;
  align-items: center;
  margin: 22.5rem 17.5875rem;
  max-width: 40rem;
  column-gap: 1.25rem;
}
.fondo-cero #nutricion-info .nutri {
  grid-column: 1/6;
  grid-row: 1/2;
  height: 3.125rem;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fondo-cero #nutricion-info .box-nutri-cero {
  background-color: #a0a0a0;
  flex: 1;
  color: white;
  text-align: center;
  width: 9.375rem;
  height: 10.5rem;
  transition: transform 0.2s;
}
.fondo-cero #nutricion-info .box-nutri-cero:hover {
  transform: scale(1.1);
  background-color: #ff0000;
}
.fondo-cero #nutricion-info .box-nutri-cero h2 {
  font-size: 1.525rem;
  font-weight: bold;
  height: 8.375rem;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo-cero #nutricion-info .box-nutri-cero h2:hover {
  background-color: #ff0000;
}
.fondo-cero #nutricion-info .box-nutri-cero p {
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  display: flex;
  background-color: #535353;
  font-size: 1rem;
  line-height: 1.5;
  height: 3.125rem;
  align-items: center;
  justify-content: center;
}
.fondo-cero #nutricion-info .box-nutri-cero p:hover {
  background-color: #830000;
}
.fondo-cero #nutricion-info .descripcion-nutri-cero {
  height: 0.125rem;
  align-self: end;
  justify-self: start;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: white;
  grid-column-start: 1;
  grid-column-end: 6;
}
.fondo-cero #nutricion-info .descripcion-nutri-cero p {
  font-size: 0.825rem;
  font-weight: 200;
}
.fondo-cero .ml-cero {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: #5f5f5f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  height: 150px;
}
.fondo-cero .ml-cero h2 {
  margin: 20px;
  font-size: 34px;
  color: #ffffff;
}
.fondo-cero .ml-cero p {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.fondo-cero .productos-container-cero {
  display: none;
}
.fondo-cero .datos-cero {
  display: none;
}

.fondo-diet {
  background: #737373;
}
.fondo-diet #principal-diet {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  color: white;
}
.fondo-diet #principal-diet #textoprincipal-diet {
  width: 52.375rem;
  height: 28.8125rem;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 10%;
}
.fondo-diet #principal-diet #textoprincipal-diet h1 {
  font-size: 6rem;
  font-weight: bold;
  font-style: normal;
}
.fondo-diet #principal-diet #textoprincipal-diet p {
  margin-top: 3.25rem;
  font-size: 1.5rem;
  font-weight: 300;
  width: 60.25rem;
}
.fondo-diet #principal-diet img {
  width: 28.625rem;
  height: 47.8125rem;
  object-fit: contain;
  position: absolute;
  top: 10rem;
  left: 78.8125rem;
  z-index: 1;
  overflow: hidden;
}
.fondo-diet #nutricion-info {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 6.25rem);
  justify-content: center;
  align-items: center;
  margin: 22.5rem 17.5875rem;
  max-width: 40rem;
  column-gap: 1.25rem;
}
.fondo-diet #nutricion-info .nutri {
  grid-column: 1/6;
  grid-row: 1/2;
  height: 3.125rem;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fondo-diet #nutricion-info .box-nutri-diet {
  background-color: #929292;
  flex: 1;
  color: white;
  text-align: center;
  width: 9.375rem;
  height: 10.5rem;
  transition: transform 0.2s;
}
.fondo-diet #nutricion-info .box-nutri-diet:hover {
  transform: scale(1.1);
  background-color: #000000;
}
.fondo-diet #nutricion-info .box-nutri-diet h2 {
  font-size: 1.525rem;
  font-weight: bold;
  height: 8.375rem;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondo-diet #nutricion-info .box-nutri-diet h2:hover {
  background-color: #000000;
}
.fondo-diet #nutricion-info .box-nutri-diet p {
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  display: flex;
  background-color: #5f5f5f;
  font-size: 1rem;
  line-height: 1.5;
  height: 3.125rem;
  align-items: center;
  justify-content: center;
}
.fondo-diet #nutricion-info .box-nutri-diet p:hover {
  background-color: #ff0000;
}
.fondo-diet #nutricion-info .descripcion-nutri-diet {
  height: 0.125rem;
  align-self: end;
  justify-self: start;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: white;
  grid-column-start: 1;
  grid-column-end: 6;
}
.fondo-diet #nutricion-info .descripcion-nutri-diet p {
  font-size: 0.825rem;
  font-weight: 200;
}
.fondo-diet .ml-diet {
  position: absolute;
  bottom: 5px;
  right: 0px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  height: 150px;
}
.fondo-diet .ml-diet h2 {
  margin: 20px;
  font-size: 34px;
  color: #ffffff;
}
.fondo-diet .ml-diet p {
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.fondo-diet .productos-container-diet {
  display: none;
}
.fondo-diet .datos-diet {
  display: none;
}

/*# sourceMappingURL=style.css.map */
