$colores:(

    fondo-principal:linear-gradient(to top left, #0066b2, #004f91, #003b73, #002a4d),
    fondofooter:#004f91,
    fondo-cero:#000000,
    fondo-diet:#737373,

    nutri-clasica1:#0058a2,
    nutri-clasica1-hover:#5bb4ff,
    nutri-clasica2: #003D6B,
    nutri-clasica2-hover:#006cbc,
    nutri-clasica2-ml:#45b0ff,
    
    nutri-cero1:#a0a0a0,
    nutri-cero1-hover:#ff0000,
    nutri-cero2:#535353, 
    nutri-cero2-hover:#830000,
    nutri-cero2-ml:#5f5f5f,

    nutri-diet1:#929292,   
    nutri-diet1-hover:#000000,   
    nutri-diet2:#5f5f5f,
    nutri-diet2-hover:#ff0000,   
    nutri-diet2-ml:#000000,   

);
