@import"../utilities/mixins";
@media (max-width: 425px) {
    .datos-clasica {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 69%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #3498dbaf;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(255, 0, 0);
    }

    .datos-cero {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 69%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #ff0000ba;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 255);
    }

    .datos-diet {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 69%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #535353ba;
        border: 2px solid rgb(0, 102, 255);
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
    }

    .datos-clasica p,
    .datos-cero p,
    .datos-diet p {
        margin: 0;
        line-height: 1.5;
    }
}

@media (max-width: 375px) {
    .datos-clasica {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 65%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #3498dbaf;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(255, 0, 0);
    }

    .datos-cero {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 65%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #ff0000ba;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 255);
    }

    .datos-diet {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 65%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #535353ba;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(0, 102, 255);
    }

    .datos-clasica p,
    .datos-cero p,
    .datos-diet p {
        margin: 0;
        line-height: 1.5;
    }

}


@media (max-width: 320px) {
    .datos-clasica {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 59%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #3498dbaf;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(255, 0, 0);
    }

    .datos-cero {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 59%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #ff0000ba;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 255);
    }

    .datos-diet {
        width: 130px;
        height: 100px;
        top: 65%;
        left: 59%;
        text-align: center;
        justify-content: center;
        position: absolute;
        background-color: #535353ba;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        z-index: 200;
        padding: 17px 15px;
        border-radius: 10px;
        border: 2px solid rgb(0, 102, 255);
    }

    .datos-clasica p,
    .datos-cero p,
    .datos-diet p {
        margin: 0;
        line-height: 1.5;
    }

}