@media (max-width: 1024px) {
    nav {
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        ul li a {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    #seccion1 {
        height: 60%;

        #textoseccion1 {
            width: 446px;
            height: 413px;
            top: 255px;
            left: 91px;

            h1 {
                font-size: 88px;

            }

            p {
                width: 320px;
                font-size: 24px;
            }

            img {
                width: 400px;
                height: 850px;
                top: 225px;
                left: 570px;
            }
        }

    }

    #seccion2 {
        margin-top: 841px;
        display: flex;
        position: relative;
        justify-content: space-between;
        background-color: #ffffff00;
        width: 100%;
        max-width: 1440px;

        .box {
            h3 {
                font-size: 16px;

            }

            p {
                font-size: 13.6px;

            }
        }
    }

    .footer-social a img {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .grilla {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        margin: 56px auto;
        max-width: 1200px;

        .producto {
            img {
                width: 206px;
                height: 240px;
            }

            p {
                font-size: 18px;

            }
        }
    }

    #primer-texto,
    #segundo-texto {
        font-size: 13.6px;
        width: 645px;
        height: 135px;
        margin-left: 20px;
    }

    #logos-pepsi {
        padding: 24px 16px;
        border-radius: 15px;
        margin: 16px auto;
        margin-top: 192px;
        max-width: 1608px;

        .grilla-logos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            margin: 40px auto;
            max-width: 1120px;

            .logos {
                img {
                    width: 112px;
                    height: 160px;
                }

                p {
                    font-size: 13.6px;

                }
            }

            #resaltador {
                padding-top: 56px;
                padding-left: 32px;
                color: rgb(255, 0, 0);
                width: 302px;
                height: 352px;
            }
        }
    }

    #textoprincipal-clasica,
    #textoprincipal-cero,
    #textoprincipal-diet {
        height: 200px;
        top: 20%;
        left: 10%;
        width: 500px;

        h1 {
            font-size: 60px;

        }

        p {
            font-size: 16px;
            margin-top: 40px;
            width: 400px;
        }

        img {
            width: 300px;
            height: 573px;
            object-fit: contain;
            position: absolute;
            top: 200px;
            left: 640px;
            z-index: 1;
            overflow: hidden;
        }
    }

    #nutricion-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-items: center;
        margin: 250px 105px;
        max-width: 400px;
        column-gap: 20px;

        .box-nutri,
        .box-nutri-cero,
        .box-nutri-diet {
            height: 175px;
        }

        .descripcion-nutri p,
        .descripcion-nutri-cero p,
        .descripcion-nutri-diet p {
            margin-top: 50px;
            font-size: 13.6px;
        }

        #chau {
            display: none;
        }
    }

}