@import "../../utilities/map";
@import"../../utilities/mixins";

@import"../../base/reset";

@import"../../layout/header-resp";
@import"../../layout/footer";

@import"../../components/botones";
@import"../../components/add-responsive";

@media (max-width: 375px) {
    .bodygeneral {
        header {
            display: none;
        }

        .header-resposive {
            @include flex(none,space-between,center,none);
            padding: 10px 15px;
            color: #fff;
            position: relative;
    
            .menu-icon {
                font-size: 45px;
                cursor: pointer;
                color: #fff;
            }
    
            #PepsiLogoPrincipal {
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                height: 60px;
            }
    
            .nav-links {
                display: none;
                position: absolute;
                top: 60px;
                left: 50%;
                width: 100%;
                z-index: 999;
    
                ul {
                    list-style: none;
                    padding: 10px 0px;
                    gap: 8px;
                    margin: 0;
                    text-align: center;
    
                    li {
                        margin: 10px 0;
    
                        a {
                            text-decoration: none;
                            color: #ffffff;
                            text-align: center;
                            font-size: 15px;
                        }
    
                        &:hover {
                            background-color: #5f5f5fc9;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }

        main {
            #seccion1 {
                #textoseccion1 {
                    width: 250px;
                    height: 413px;
                    text-align: center;
                    position: absolute;
                    left: 12%;
                    top: 15%;
                    z-index: 1;
                    margin: 20px;

                    h1 {
                        font-size: 48px;
                        font-weight: bold;
                        font-style: italic;
                    }

                    p {
                        font-size: 12px;
                        font-weight: bold;
                        margin-left: 5px;
                        width: 244px;
                    }
                }

                img {
                    width: 225px;
                    height: 961px;
                    object-fit: contain;
                    position: absolute;
                    top: 250px;
                    left: 80px;
                    z-index: -1;
                    overflow: hidden;
                }

            }

            #productos-pepsi {
                margin-top: 10px;

                .grilla {
                    top: 50%;
                    @include grid(repeat(1, 1fr),none,center,center,none);
                    margin: 56px auto;
                    max-width: 1200px;

                    .producto {
                        img {
                            width: 206px;
                            height: 240px;
                        }

                        p {
                            font-size: 13.6px;

                        }
                    }
                }
            }

            #historia {
                @include flex(column,none,none,none);

                margin: auto;

                #primer-texto {
                    margin-top: 50px;
                    margin-bottom: 75px;
                    font-size: 12.8px;
                    width: 250px;
                    height: 71px;
                }

                #segundo-texto {
                    font-size: 12.8px;
                    width: 250px;
                    margin-top: 250px;
                    margin-bottom: 150px;
                    height: 135px;
                }
            }

            #logos-pepsi {
                padding: 24px 16px;
                border-radius: 15px;
                margin: 16px auto;
                margin-top: 192px;

                .grilla-logos {
                    @include grid(repeat(1, 1fr),none,center,center,none);
                    margin: 40px auto;
                    max-width: 300px;

                    .logos {
                        text-align: center;
                        color: rgb(0, 0, 0);

                        img {
                            width: 112px;
                            height: 160px;
                        }

                        p {
                            font-size: 13.6px;

                        }
                    }

                    #resaltador {
                        padding-top: 88px;
                        padding-left: 125px;
                        color: rgb(255, 0, 0);
                        width: 200px;
                        height: 352px;
                        text-align: center;
                    }
                }
            }

            #mapita {
                margin-top: 50px;
                width: 350px;
                height: 350px;
            }
        }

        .footer-social a img {
            width: 15px;
            height: 15px;
            margin-top: 20px;
            margin-left: 10px;
        }
    }


    .fondo-cero,
    .fondo-clasica,
    .fondo-diet {
        main {

            #principal-clasica,
            #principal-cero,
            #principal-diet {
                #textoprincipal-clasica {
                    top: 15%;
                    left: 18%;
                    width: 250px;

                    h1 {
                        text-align: center;
                        font-size: 40px;
                    }

                    p {
                        display: none;

                    }
                }

                #textoprincipal-cero,
                #textoprincipal-diet {
                    top: 13%;
                    left: 18%;
                    width: 250px;

                    h1 {
                        text-align: center;
                        font-size: 40px;
                    }

                    p {
                        display: none;

                    }
                }



                img {
                    width: 218px;
                    height: 413px;
                    object-fit: contain;
                    position: absolute;
                    top: 237px;
                    left: 85px;
                    z-index: 1;
                    overflow: hidden;
                }
            }

            #nutricion-info {

                .nutri,
                .box-nutri,
                .box-nutri-cero,
                .box-nutri-diet,
                .descripcion-nutri,
                .descripcion-nutri-cero,
                .descripcion-nutri-diet {
                    display: none;
                }

            }

            .ml,
            .ml-cero,
            .ml-diet {
                display: none;
            }

        }
    }
}